* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
}

@media print {
  body {
    background: #fff !important;
  }
  .no-print {
    display: none !important;
  }
}
